<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Control</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img id="carImage" src="" alt="Car Image">
        </div>
        <div class="description-container">
            <p id="carDescription">Description will be displayed here.</p>
        </div>
        <div class="control-container">
            <button id="leftArrow" class="arrow-button">&larr;</button>
            <button id="upArrow" class="arrow-button">&uarr;</button>
            <button id="rightArrow" class="arrow-button">&rarr;</button>
            <button id="downArrow" class="arrow-button">&darr;</button>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>
